{% extends "master.html"%}
{% block title %} 
Contact us
{% endblock %} 

{% block content %} 
<center>
<div id="contact" class="contact">
    <p><b>NAME          :</b> S.Rajinikanth & D.Rupesh </p>
    <p><b>PHONE         :</b> 9177223032 $ 8520010807</p>
    <p><b>EMAIL US      :</b> <a href="mailto:thalaiva.0703@gmail.com? subject='event booking'">thalaiva.0703@gmail.com</a> & <a href="mailto:drkrupesh@gmail.com?">drkrupesh@gmail.com</a></p>
</div>
</center> 
<style>
#contact{
    min-height:400px;
    display:flex;
    flex-direction:column;
    align-item:center;
    place-content:center;
}
</style>
{% endblock %} 