

<form method="POST" action="{% url 'userLogin' %}">

    {% csrf_token %}
    <table>
    <tr> <td><label for="username">First Name</label></td></tr>
    <tr><td><input id="inputs" type="text" name="username" placeholder="Enter your name" required></td></tr>
    <tr><td><label for="mobile">Mobile Number</label></td></tr>
    <tr><td><input id="inputs" type="tel" name="mobile" placeholder="enter your mobile number" required></td></tr>
    <tr><td><label for="email">Email </label></td></tr>
    <tr><td><input id="inputs" type="email" name="email" placeholder="example@gmail.com" ></td></tr>
    <tr><td><label for="Password">Password</label></td></tr>
    <tr><td><input id="inputs" type="password" name="password" placeholder="enter your password" ></td></tr>
 </table>
 <br>
 <input type="submit" value="Sign Up"><input type="reset">
</form>

<style>
    #inputs{
        border-width:0px 0px 1.9px 1.8px;
        border-radius:20px;
        margin-left: 100px;
    }
    #inputs:hover{
        border-color:orange;
    }
    label{
        margin-left: -80px;
        padding:0px 8px 0px 5px;
        border-radius:12px;
    }
</style>
